/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.error-msg{
	background-color: #fee;
	color: #c33;
	padding:5px 10px;
}

/* ========== pd-login-wrapper Css ========== */

.pd-login-wrapper {
    background-color: #FFFFFF;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pd-login,
.pd-login__form {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    z-index: 9;
}

.pd-login {
    background-color: #FFFFFF;
    box-shadow: -10px 5px 200px 40px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    padding: 60px 50px;
    max-width: 500px;
    margin: 0 15px;
}

.pd-login__heading {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #283342;
    margin: 0 0 25px 0;
}

.pd-login__form-label {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #283342;
    margin: 0 0 20px 0;
}

.pd-login__form-control {
    height: 50px;
    border: 1px solid #73767A;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    margin: 0 0 20px 0;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #283342;
    padding: 5px 10px;
}

.pd-login__form-control:focus {
    box-shadow: 0;
    outline: 0;
    border: 1px solid #4FD68D;
}

.pd-login__btn {
    height: 50px;
    background-color: #4FD68D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4FD68D;
    box-shadow: 0;
    outline: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
	cursor: pointer;
}

.pd-login__btn:hover,
.pd-login__btn:focus {
    background-color: #283342;
    color: #FFFFFF;
    border: 1px solid #283342;
}

.pd-login-shape-left{
    position: absolute;
    left: 0;
    top: 10%;
}
.pd-login-shape-left svg{
    position: absolute;
    left: 0;
}
.pd-login-shape-right{
    position: absolute;
    right: 0;
    bottom: 0;
}
.pd-login-shape-right svg{
    position: absolute;
    right: 0;bottom: 0;
}

@media only screen and (min-width: 768px) {

    .pd-login {
        padding: 120px 106px;
    }

    .pd-login__heading {
        font-size: 40px;
        line-height: 47px;
    }

}